<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240392963490-1mhgpvp13pkrcthfquf4pehhbbr67j7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240392963490-1mhgpvp13pkrcthfquf4pehhbbr67j7f</string>
	<key>API_KEY</key>
	<string>AIzaSyCrBeRHEMaScKmExBIUFgRCks6LTFGsQJY</string>
	<key>GCM_SENDER_ID</key>
	<string>240392963490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helpingHands</string>
	<key>PROJECT_ID</key>
	<string>helpinghands-98a76</string>
	<key>STORAGE_BUCKET</key>
	<string>helpinghands-98a76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240392963490:ios:70a93102929c4401091efb</string>
</dict>
</plist>